/* Header Styles */
body {
  background-color: black;
}
/*header style*/
.h1{
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-bottom: 1rem;
}
/*paragraph style*/
.p{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 1rem;
}
/* Form styles */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Form element styles */
label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}
button:hover {
    background-color: rgb(54, 54, 54);
}   
button:hover {
    background-color: darkpurple;
}
/* Footer styles */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}   
