body {
  background-color: purple;
}

/*header style*/
.h1{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-bottom: 1rem;
}

/*paragraph style*/
p{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 1rem;
    line-height: 1.5;
    color: black;
    text-align: justify;
    text-justify: inter-word;
}
nav {
    background-color: black;
   
} 
nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
}